
    {% extends 'base.html' %}
    {% block content %}
    {% load bootstrap4 %}
    <a class="container padding-4 btn btn-primary" href="{% url 'categoria:factura-create' %}">Nuevo</a>
    <ul class="list-group">
        {% for proyecto in object_list %}
            <li><a href="{% url 'categoria:factura-detail' proyecto.id %}">{{proyecto.nombre}}</a> - {{ proyecto.descripcion }} - {{ proyecto.fecha }} </li>
             {% empty %}
            <li>No hay proyectos.</li>
        {% endfor %}
  
    </ul>
    {% endblock %} 